$def with(username,userau,datastr)
<html>
<head>
<meta charset="utf-8">
<title>学生数据分析平台</title>
	<script type="text/javascript" src="http://sandbox.runjs.cn/uploads/rs/202/4e4ejrix/jquery.min.js"></script>
	<script type="text/javascript" src="http://sandbox.runjs.cn/uploads/rs/202/4e4ejrix/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="http://sandbox.runjs.cn/uploads/rs/202/4e4ejrix/iconfont.css">
    <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_587114_c1zqpia42s6k1emi.css">
    <link  rel="stylesheet" type="text/css" href="/static/css.css">
<style>
body{font:14px "微软雅黑","宋体","Arial Narrow",HELVETICA;-webkit-text-size-adjust:100%;}
</style>
</head>
<script type="text/javascript">

    </script>
<body style="background-color: #fff">
<script type="text/javascript" src="/static/leftlist.js"></script>
<script>
window.onload=function(){

        function createchoice(){
           leftlist($userau);
        }
		createchoice();
	}
</script>
<div style="width:1500px;">
    <div class="nav" style="float:left;">
        <div class="nav-top">
            <div id="mini" style="border-bottom:1px solid rgba(255,255,255,.1)"><img src="http://sandbox.runjs.cn/uploads/rs/202/4e4ejrix/mini.png" ></div>

        </div>
        <ul>
		<li class="nav-item">
                <a href="/main"><i class="iconfont icon-home"></i><span>首页</span></a>
            </li>
		<li class="nav-item">
                <a href="javascript:;"><i class="iconfont icon-yonghu1"></i><span>$username</span><i class="my-icon nav-more"></i></a>
                <ul>
                    <li><a href="/modify"><span>修改密码</span></a></li>
					<li><a href="/"><span>登出</span></a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="javascript:;"><i class="iconfont icon-chengji"></i><span>成绩与获奖</span><i class="my-icon nav-more"></i></a>

                <ul id="div1">

                </ul>
            </li>
            <li class="nav-item">
                <a href="javascript:;"><i class="icon iconfont">&#xe61f;</i><span>消费分析</span><i class="my-icon nav-more"></i></a>

                <ul id="div2">

                </ul>
            </li>
            <li class="nav-item">
                <a href="javascript:;"><i class="iconfont icon-deyutiandi"></i><span>德育分析</span><i class="my-icon nav-more"></i></a>

                <ul id="div3">

                </ul>
            </li>
			<li class="nav-item">
                <a href="javascript:;"><i class="iconfont icon-shetuanhuodong"></i><span>社团活动</span><i class="my-icon nav-more"></i></a>

                <ul id="div4">

                </ul>
            </li>
        </ul>
    </div>
	<div style="float:left;display:inline;width:900px;height:100%;">
<div style="width:900px;margin:20px 180px;">
				  <center class="font" style="margin:10px auto;background-color:#Edd0BE;">班间数据分析</center>
			 <div class="row clearfix">
    <form role="form" method="post">
            <label for="itemchoice">内容</label>
            <select class="form-group" name="itemchoice" id="itemchoice">
                <option value="1">必修挂科</option>
                <option value="2">必修优秀</option>
                <option value="3">体育挂科</option>
                <option value="4">体育优秀</option>
                <option value="6">处分数量</option>
                <option value="5">获奖数量</option>
            </select>
            <label for="gradechoice">年级</label>
            <select class="form-group" name="gradechoice" id="gradechoice">
                <option value="15">15级</option>
                <option value="16">16级</option>
                <option value="17">17级</option>
                <option value="18">18级</option>
            </select>
                <button type="submit" class="myButton">查询</button>
    </form>
    </div>
			<div id="main" style="height:400px;margin:50px 0 0 0"></div>

	</div>
	
</div>
 <script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
    <script type="text/javascript">
        // 路径配置
        require.config({
            paths: {
                echarts: 'http://echarts.baidu.com/build/dist'
            }
        });
        // 使用
        require(
            [
                'echarts',
                'echarts/chart/pie',
				'echarts/chart/funnel'// 使用柱状图就加载bar模块，按需加载
            ],

            function (ec) {
                // 基于准备好的dom，初始化echarts图表
                var myChart = ec.init(document.getElementById('main'));

				var picdata = $:datastr;
				var name=new Array();
				for (var j in picdata){
					var obj = picdata[j];
					name[j]=obj.name;
				}



                var option = {
    title : {
        text: picdata.picname
    },
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    legend: {
        orient : 'vertical',
        x : 'left',
        data:name
    },
    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            magicType : {
                show: true, 
                type: ['pie', 'funnel'],
                option: {
                    funnel: {
                        x: '25%',
                        width: '50%',
                        funnelAlign: 'left',
                        max: 1548
                    }
                }
            },
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    series : [
        {
            name:'数量',
            type:'pie',
            radius : '55%',
            center: ['50%', '60%'],
            data:picdata.list
        }
    ]
};

                // 为echarts对象加载数据
                myChart.setOption(option);
            }
        );
    </script>
</body>
<script>


$$(function(){

    $$('.nav-item>a').on('click',function(){
        if (!$$('.nav').hasClass('nav-mini')) {
            if ($$(this).next().css('display') == "none") {

                $$('.nav-item').children('ul').slideUp(300);
                $$(this).next('ul').slideDown(300);
                $$(this).parent('li').addClass('nav-show').siblings('li').removeClass('nav-show');
            }else{
                $$(this).next('ul').slideUp(300);
                $$('.nav-item.nav-show').removeClass('nav-show');
            }
        }
    });

	$$('#mini').on('click',function(){
        if (!$$('.nav').hasClass('nav-mini')) {
            $$('.nav-item.nav-show').removeClass('nav-show');
            $$('.nav-item').children('ul').removeAttr('style');
            $$('.nav').addClass('nav-mini');
        }else{
            $$('.nav').removeClass('nav-mini');
        }
    });
});

</script>
</html>