$def with(username,userau,datastr)
<html>
<head>
<meta charset="utf-8">
<title>学生数据分析平台</title>
	<script type="text/javascript" src="http://sandbox.runjs.cn/uploads/rs/202/4e4ejrix/jquery.min.js"></script>
	<script type="text/javascript" src="http://sandbox.runjs.cn/uploads/rs/202/4e4ejrix/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="http://sandbox.runjs.cn/uploads/rs/202/4e4ejrix/iconfont.css">
    <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_587114_c1zqpia42s6k1emi.css">
    <link  rel="stylesheet" type="text/css" href="/static/css.css">
<style>
body{font:14px "微软雅黑","宋体","Arial Narrow",HELVETICA;-webkit-text-size-adjust:100%;}
</style>
</head>
<script type="text/javascript">

    </script>
<body style="background-color: #fff">
<script type="text/javascript" src="/static/leftlist.js"></script>
<script>
window.onload=function(){

        function createchoice(){
            leftlist($userau);
        }
		createchoice();
	}
</script>
<div style="width:1500px;">
    <div class="nav" style="float:left;">
        <div class="nav-top">
            <div id="mini" style="border-bottom:1px solid rgba(255,255,255,.1)"><img src="http://sandbox.runjs.cn/uploads/rs/202/4e4ejrix/mini.png" ></div>

        </div>
        <ul>
		<li class="nav-item">
                <a href="/main"><i class="iconfont icon-home"></i><span>首页</span></a>
            </li>
		<li class="nav-item">
                <a href="javascript:;"><i class="iconfont icon-yonghu1"></i><span>$username</span><i class="my-icon nav-more"></i></a>
                <ul>
                    <li><a href="/modify"><span>修改密码</span></a></li>
					<li><a href="/"><span>登出</span></a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="javascript:;"><i class="iconfont icon-chengji"></i><span>成绩与获奖</span><i class="my-icon nav-more"></i></a>

                <ul id="div1">

                </ul>
            </li>
            <li class="nav-item">
                <a href="javascript:;"><i class="icon iconfont">&#xe61f;</i><span>消费分析</span><i class="my-icon nav-more"></i></a>

                <ul id="div2">

                </ul>
            </li>
            <li class="nav-item">
                <a href="javascript:;"><i class="iconfont icon-deyutiandi"></i><span>德育分析</span><i class="my-icon nav-more"></i></a>

                <ul id="div3">

                </ul>
            </li>
			<li class="nav-item">
                <a href="javascript:;"><i class="iconfont icon-shetuanhuodong"></i><span>社团活动</span><i class="my-icon nav-more"></i></a>

                <ul id="div4">

                </ul>
            </li>
        </ul>
    </div>
	<div style="float:left;display:inline;width:900px;height:100%;">
   <div style="width:600px;margin:20px 300px;">
			 <center class="font" style="background-color:#Edd0BE;">用餐平均值走向</center>


       <div class="row clearfix" id="picture1" style="width:600px;height:300px;">

    </div>
	<div class="row clearfix" id="picture2" style="width:600px;height:300px;">

    </div>
	<div class="row clearfix" id="picture3" style="width:600px;height:300px;">

    </div>
  </div>
   <script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
    <script type="text/javascript">
        // 路径配置
require.config({
            paths: {
                echarts: 'http://echarts.baidu.com/build/dist'
            }
        });
        // 使用
        require(
            [
                'echarts',
                'echarts/chart/bar',
				'echarts/chart/line'// 使用柱状图就加载bar模块，按需加载
            ],

            function (ec) {
                // 基于准备好的dom，初始化echarts图表
                var myChart1 = ec.init(document.getElementById('picture1'));
				var myChart2 = ec.init(document.getElementById('picture2'));
				var myChart3 = ec.init(document.getElementById('picture3'));

				 var picdata = $:datastr;



                var option1 = {
    title : {
        text: '早餐平均值走向',
    },
    tooltip : {
        trigger: 'axis'
    },
    legend: {
        data:['平均值']
    },
    toolbox: {
        show : true,
        feature : {
            magicType : {show: true, type: ['line', 'bar']},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    xAxis : [
        {
            type : 'category',
            data : ["1月","2月","3月","4月","5月","6月","7月","8月","9月","10月","11月","12月"]
        }
    ],
    yAxis : [
        {
            type : 'value'
        }
    ],
    series : [
        {
            name:'平均值',
            type:'bar',
            data:picdata[0],
            markPoint : {
                data : [
                    {type : 'max', name: '最大值'},
                    {type : 'min', name: '最小值'}
                ]
            },
            markLine : {
                data : [
                    {type : 'average', name: '平均值'}
                ]
            }
        },
    ]
};

                var option2 = {
    title : {
        text: '午餐平均值走向',
    },
    tooltip : {
        trigger: 'axis'
    },
    legend: {
        data:['平均值']
    },
    toolbox: {
        show : true,
        feature : {
            magicType : {show: true, type: ['line', 'bar']},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    xAxis : [
        {
            type : 'category',
            data : ["1月","2月","3月","4月","5月","6月","7月","8月","9月","10月","11月","12月"]
        }
    ],
    yAxis : [
        {
            type : 'value'
        }
    ],
    series : [
        {
            name:'平均值',
            type:'bar',
            data:picdata[1],
            markPoint : {
                data : [
                    {type : 'max', name: '最大值'},
                    {type : 'min', name: '最小值'}
                ]
            },
            markLine : {
                data : [
                    {type : 'average', name: '平均值'}
                ]
            }
        },
    ]
};

                var option3 = {
    title : {
        text: '晚餐平均值走向',
    },
    tooltip : {
        trigger: 'axis'
    },
    legend: {
        data:['平均值']
    },
    toolbox: {
        show : true,
        feature : {
            magicType : {show: true, type: ['line', 'bar']},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    xAxis : [
        {
            type : 'category',
            data : ["1月","2月","3月","4月","5月","6月","7月","8月","9月","10月","11月","12月"]
        }
    ],
    yAxis : [
        {
            type : 'value'
        }
    ],
    series : [
        {
            name:'平均值',
            type:'bar',
            data:picdata[2],
            markPoint : {
                data : [
                    {type : 'max', name: '最大值'},
                    {type : 'min', name: '最小值'}
                ]
            },
            markLine : {
                data : [
                    {type : 'average', name: '平均值'}
                ]
            }
        },
    ]
};

                // 为echarts对象加载数据
                myChart1.setOption(option1);
				myChart2.setOption(option2);
				myChart3.setOption(option3);
            }
        );
    </script>
</div>
	</div>
	
</div>
</body>
<script>


$$(function(){

    $$('.nav-item>a').on('click',function(){
        if (!$$('.nav').hasClass('nav-mini')) {
            if ($$(this).next().css('display') == "none") {

                $$('.nav-item').children('ul').slideUp(300);
                $$(this).next('ul').slideDown(300);
                $$(this).parent('li').addClass('nav-show').siblings('li').removeClass('nav-show');
            }else{
                $$(this).next('ul').slideUp(300);
                $$('.nav-item.nav-show').removeClass('nav-show');
            }
        }
    });

	$$('#mini').on('click',function(){
        if (!$$('.nav').hasClass('nav-mini')) {
            $$('.nav-item.nav-show').removeClass('nav-show');
            $$('.nav-item').children('ul').removeAttr('style');
            $$('.nav').addClass('nav-mini');
        }else{
            $$('.nav').removeClass('nav-mini');
        }
    });
});

</script>
</html>